<!-- CSS for use only this page -->
    <style>
        body, h1 { color: white; }
        body, html { height: 100%; font-family: "Noto Sans KR","Helvetica Neue",Helvetica,Arial,sans-serif; }
        .bgimg {
            background-image: url('assets/images/index.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
        
        a {
            text-decoration:none !important;
            border: 0;
        }
        
        img {
          background-color: transparent;
        }
        
    </style>

<!-- Rending page design -->
    <div class="bgimg w3-display-container w3-text-white">
      <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">DIARY FOR</h1>
        <div class="w3-center">
            <%= form_for(@user, url: "/nicknameSave", html: { id: "nicknameSave", method: :post }) do |f| %>
                <%= f.text_field :name, class: "w3-input w3-transparent w3-text-white w3-hover-shadow w3-margin-bottom w3-center", maxlength:30, value: @username %>
            	<%= f.submit "Start", data: { confirm: 'Save?', disable_with: 'Saving...' }, class: "w3-btn w3-block w3-blue-grey w3-text-white w3-round" %>
            <% end %>
        </div>
      </div>
    </div>
<!--// Reding page end -->