<!DOCTYPE html>
<html>
	<head>
		<title>Diary for -</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<base href="https://hackathon-login-heabom.c9users.io/">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- timepicker js plugin -->
		<link rel="stylesheet" href="assets/css/themes/dark/blue-grey/mdDateTimePicker.css">
		<script src="assets/js/moment.min.js"></script>
		<script src="assets/js/draggabilly.pkgd.min.js"></script>
		<script src="assets/js/mdDateTimePicker.js"></script>
			
		<style>
			html, body {
				margin:0;
				padding:0;
				height: 100%;
			}
			html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
		</style>
		
	<!-- Kakao SDK API -->
	    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	
		<script type='text/javascript'>
		//---- Kakao Login js ----
	      //<![CDATA[
	      // 사용할 앱의 JavaScript 키를 설정해 주세요.
	      Kakao.init('6c34d1d90938f83d9665c5930efb1859');
	      //]]>
		</script>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	
<body class="w3-theme-l5">

<%= yield %>

</body>
</html>
